

/********** Base styles **********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  h1{
    text-align: center;
  }
  .navbar-brand h1{
    text-align: left;
  }

  div{    
    position: relative;
     }

   .frame {
  
    background-color: burlywood;
    height: auto ;
    margin: 5px;
    border:  1px solid;
   }  

 .navbar-header{
  height: 100px;
 }

 body {

  padding-bottom: 200px;
}
div h2{
    position: absolute;
    right: 0;
    border: 1px solid;
    margin-top: 0;
}



 /** HEADER **/
#header-nav {
  background-color: #30260c;
  border-radius: 0;
  border: 0;
}

.one
{
    background-color: brown;
}
.two
{
    background-color: green;
}
.three
{
    background-color: blue;
}
 

  /* Simple Responsive Framework. */
  .row {
    width: 100%;
  }

  p {    
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: black;
    padding-top: 30px;
  }

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  p {
    width: 100%;
  }
}